{% extends "base.html.twig" %}

{% block title %}Formulaire de création d'un comics
{% endblock %}

{% block body %}

	<div class="my-2 col-10 mx-auto">

		{% if app.request.attributes.get("_route") is same as "app_admin_comics_add" %}

			<h2 class="my-4 text-center mx-auto">Ajouter un nouveau comcis</h2>

		{% else %}

			<h2 class="my-4 text-center mx-auto">Modifier un comics existant</h2>

		{% endif %}

		{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
		{{ form_row(form.title) }}
		{{ form_row(form.poster) }}
        {{ form_row(form.synopsis) }}
		{{ form_row(form.released_at) }}
		{{ form_row(form.rarity) }}
        {{ form_row(form.author) }}
        {{ form_row(form.characters) }}

		<button class="my-2 btn btn-primary" type="submit">Valider</button>

		{{ form_end(form) }}

	</div>

{% endblock %}

